* {
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.not-display {
    display: none;
}

/* heading style */
.heading {
    color: white;
}

.heading > h1 {
    font-weight: bolder;
    margin-bottom: 0;
}

.heading > h2 {
    margin: 0;
}

.container {
    margin-top: 24px;
}

.card {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 6px;
}

.radio {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    outline: none;
    border: grey black 0.5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: transparent;
}

.checked {
    font-size: 40px;
    display: flex;
    align-items: center;
}

.task {
    font-size: 24px;
    font-weight: bold;
    transition: all ease-in-out;
}

.delete {
    height: 32px;
    width: 32px;
    background-color: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: red;
    position: absolute;
    right: 16px;
}

.done-area > h3 {
    border-radius: 4px;
    color: white;
    font-weight: bold;
    background-color: rgba(108, 122, 137, 0.35);
    width: 25%;
    padding: 8px 4px;
    text-align: center;
}

.addBtn {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 32px;
    font-size: 24px;
    text-align: center;
    width: 96%;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
    padding: 10px 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgba(108, 122, 137, 0.7);
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(108, 122, 137, 0.7);
}

#addTaskCard {
    position: absolute;
    bottom: 80px;
    width: 96%;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#newTask {
    outline: none;
    border: none;
    width: 100%;
}

#addTaskConfirmBtn {
    z-index: 100;
    background-color: skyblue;
    justify-content: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-transform: uppercase;
}